{% load staticfiles %}
<footer class="section section-primary">
     <div class="container">
       <div class="row">
         <div class="col-sm-6">
           <h1>SoftwareClub</h1>
           <p>A rede social dos Engenheiros de Software da Faculdade UnB Gama - Universidade
             de Brasília.
             <br>
           </p>
         </div>
         <div class="col-sm-6">
           <p class="text-info text-right">
             <br>
             <br>
           </p>
           <div class="row">
             <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
               <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
               <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
               <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
               <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
             </div>
           </div>
           <div class="row">
             <div class="col-md-12 hidden-xs text-right">
               <a href="http://www.unb.br/"><i class="fa fa-3x fa-fw text-inverse fa-institution"></i></a>
               <a href="https://www.facebook.com/groups/189467721113004/"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
               <a href="https://github.com/tainarareis/softwareclub"><i class="fa fa-3x fa-fw fa-github-square text-inverse"></i></a>
             </div>
           </div>
         </div>
       </div>
     </div>
</footer>
