{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>SoftwareClub</title><html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static "scripts/vendor/bootstrap-min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/vendor/jquery-1.9.1.js" % }"></script>
    <link rel="stylesheet" href="{% static "styles/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "styles/pingendo.css" %}">
  </head>

  <body>
    <div class="cover">
      <div class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img height="20" alt="Brand" src="../static/img/logo2.png" class="center-block"></a>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="{% url 'index' %}">Entrar</a>
              </li>
              <li>
                <a href="#">Cadastrar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="background-image-fixed cover-image" style="background-image: url('../static/img/background.jpg');" ></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
						<img class="center-block img-circle img-responsive logo" src="../static/img/logo2.png">
            <h1 class="text-inverse">SoftwareClub</h1>
            <h3 class="text-inverse">Conectar os alunos de Engenharia de Software se tornou fácil!</h3>
            <br>
            <br>
            <a class="btn btn-lg btn-primary">Conheça</a>
          </div>
        </div>
      </div>
    </div>
		<div class="section">
 		 <div class="container">
 			 <div class="row">
 				 <div class="col-md-6">
 					 <img src="../static/img/software.jpg" class="img-responsive">
 				 </div>
 				 <div class="col-md-6">
 					 <h1 class="text-primary">O nosso perfil</h1>
 					 <p>O nosso Engenheiro de Software possui perfil generalista em software,
 						 sendo capaz de definir e aplicar uma abordagem sistemática,
 						 disciplinada e quantificável para a definição, desenvolvimento
 						 e manutenção de software, alinhado a legislação vigente e com
 						 uma visão humanística crítica sobre o impacto de sua atuação
 						 profissional na sociedade.</p>
 					<p>O Engenheiro de Software deverá estar capacitado para conviver
 						num contexto de mudanças sociais, tecnológicas e econômicas cada
 						 vez mais rápidas. Logo, busca-se também formar engenheiros para
 						 ocupar posições de destaque nesse cenário, com capacidade para
 						 trabalhar em equipes multidisciplinares, com base científica e
 						 de comunicação; motivado para capacitação e para a concepção de
 						  inovações; habilitado a projetar e gerir intervenções tecnológicas
 							 e empreendimentos; orientado para atuar como transformador social,
 							  visando o bem estar social e avaliando eticamente os impactos
 								sociais e ambientais de suas intervenções.</p>
 				 </div>
 			 </div>
 		 </div>
 	 </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="../static/img/unb_logo.png" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Universidade de Brasília (UnB)</h1>
            <p>A Universidade de Brasília foi inaugurada em 21 de abril de 1962. Atualmente,
              possui 2.445 professores, 2.630 técnicos-administrativos e 28.570 alunos
              regulares e 6.304 de pós-graduação. É constituída por 26 institutos e faculdades
              e 21 centros de pesquisa especializados.</p>
            <p Água="">Oferece 109 cursos de graduação, sendo 31 noturnos e 10 a distância. Há
              ainda 147 cursos de pós-graduação stricto sensu e 22 especializações lato
              sensu. Os cursos estão divididos em quatro campi espalhados pelo Distrito
              Federal: Darcy Ribeiro (Plano Piloto), Planaltina, Ceilândia e Gama. Os
              órgãos de apoio incluem o Hospital Universitário, a Biblioteca Central,
              o Hospital Veterinário e a Fazenda Água Limpa.</p>
          </div>
        </div>
      </div>
    </div>
		<div class="section">
		 <div class="container">
			 <div class="row">
				 <div class="col-md-6">
					 <h1 class="text-primary">Reconhecimento do curso de Engenharia de Software na UnB</h1>
					 <p>O curso de Engenharia de Software da Universidade de Brasília - Gama
						  marcou presença na avaliação de cursos superiores realizada pelo Guia
							 do Estudante(GE), onde foi dado ao curso o selo de qualidade,
							 com pontuação máxima, de 5 estrelas. Essa avaliação consta na
							 publicação GE Profissões Vestibular 2016</p>
				 </div>
				 <div class="col-md-6">
					 <img src="../static/img/engenharia_software.png"
					 class="img-responsive">
				 </div>
			 </div>
		 </div>
	 </div>
	 <div class="section">
	 	<div class="container">
	 		<div class="row">
	 			<div class="col-md-6">
	 				<img src="../static/img/mec.png" class="img-responsive">
	 			</div>
	 			<div class="col-md-6">
	 				<h1 class="text-primary">Avaliação pelo MEC</h1>
	 				<p>Entre os dias 09 e 12 de dezembro de 2015, o bacharelado
						em Engenharia de Software, da UnB Gama, foi avaliado pelo MEC,
						em seu processo de reconhecimento de curso. O resultado foi
						o melhor possível: nota máxima, ou seja, conceito <b>5</b>.</p>
	 			</div>
	 		</div>
	 	</div>
	 </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-primary">Time</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
	        <div class="col-md-4">
            <img src="../static/img/tainara.png" class="center-block img-circle img-responsive" style="width: 200px">
            <h3 class="text-center">Tainara Reis</h3>
            <p class="text-center">Desenvolvedora e Criadora</p>
          </div>
	        <div class="col-md-4"></div>
        </div>
      </div>
    </div>
		{% include "footer.html" %}
  </body>
</html>
