{% extends "base_usuario.html" %}
{% block body %}


<h2 class="form-signin-heading">Registrar novo usuário</h2>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Registra-se com o Facebook</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Registra-se com o Google</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Registra-se com o Twitter</a>
     </li>
     <!--li>
       <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}">Login with GitHub</a>
     </li-->
   {% endif %}
   </ul>
 </p>

{% endblock %}
